:root {
    --text-color: #475569;
    --table-bg-color: #f8fafc;
    --table-border-color: #cbd5e1;
    --table-header-bg-color: #e2e8f0;
    --table-header-text-color: #64748b;
    --table-header-active-bg-color: #cbd5e1;
    --table-header-active-text-color: #334155;
    --button-hover-bg-color: #94a3b8;
    --button-hover-text-color: #1e293b;
}

body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}